body {
	margin: 0;
	padding: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.02) 2px, transparent 2px), 
	    							linear-gradient(90deg, rgba(0, 0, 0, 0.02) 2px, transparent 2px);
	background-size: 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	scroll-behavior: smooth;
}

.upperHeader {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.headerTitle {
	margin: 0;
	padding-right: 10px;
	font-size: 100%;
	text-align: center;
	font-size: 200%;

}

* {
	box-sizing: border-box;
	cursor: none;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.description {
	margin: 0;
	font-size: 100%;
	margin-bottom: 50px;
	color: rgb(77, 77, 77);
}

h1 {
		font-family: "Metrophobic", sans-serif;
  	font-weight: bold;
  	font-style: normal;
}

p, li {
		font-family: "Metrophobic", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

.cursor-ball {
  width: 8px;
  height: 8px;
  background-color: #000;
}

.cursor-outline {
  width: 3rem;
  height: 3rem;
  border: 1px solid #000;
  transition: all 0.3s ease;
}

.cursor-ball,
.cursor-outline {
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  pointer-events: none;
  transform: translate(-50%, -50%)
}

ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	padding: 4px;
	border-style: solid;
	border-radius: 50px;
	border-width: 1px;
	border-color: rgb(235, 235, 235);
/*	box-shadow: 0.2px 0.2px black;*/
	background-color: white;

}

li{
	padding: 5px;
	margin-right: 5px;
	list-style-type: none;
	font-size: 18px;
	font-weight: bold;
	color: rgb(77, 77, 77);

}

header {
	margin: 30px;
	padding: 0;
	width: fit-content;
	position: sticky;
	top:0;
}

li:hover {
	background-color: rgb(235, 235, 235);
	border-radius: 50px;
	border-color: rgb(235, 235, 235);
	transform: translateY(-1.1px);sh
	color: black;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 50%;
}

#about_text {
	color: rgb(77, 77, 77);
	font-weight: bold;
	padding: 0;
	margin: 0;
}

content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	height: auto;
	width: 95%;
}

.line {
	 margin-top: 100px;
	 margin-bottom: 100px;
}

.line_about {
	margin:0;
	padding: 0;
}

.about_title {
	margin:0;
	padding: 0;
	height: auto ;
}

.fccBED {
	border-style: solid;
	border-width: 0.2px;
	border-radius: 10px;
	border-color: rgba(128, 128, 128, 0.6);
	margin: 20px;
	padding: 10px;
}

.fcc {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 80%;
}

#divCert {
	background-color: rgba(128, 128, 128, 0.05);
	
}

.mappleTasksProject {
	border-style: solid;
	border-width: 0.2px;
	border-radius: 10px;
	border-color: rgba(128, 128, 128, 0.6);
	max-width: 50%;
	margin-bottom: 30px;
}

.titleM {
	width: 50%;
	margin: 10px;
}

.langage_js {
	background-color: white;
	border-style: solid;
	border-radius: 5px;
	width: fit-content;
	height: fit-content;
	padding: 1px;
}

.cCol {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-right: 50px;
	margin-bottom: 150px;
}

.both {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.certifications {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.certificationsTitle {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 50%;
}

.projets {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.mPT {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

#divSpace {
	margin-bottom: 150px;
}


#divCert::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 1;
  width: 0;
  height: 1px;
  background: black;
  transition: width 0.3s;
  border-radius: 20px;
}

#divCert:hover::after {
  width: 95.5%;
}

#divCert:hover {
	scale: 1.1;
}

.contacte_link {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.contacte_itself {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-width: 0.2px;
	border-radius: 10px;
	border-color: rgba(128, 128, 128, 0.6);
	background-color: rgba(128, 128, 128, 0.05);
	padding: 10px;
}

.contacte_itself:hover {
	scale: 1.1;
}

.contacte_itself::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 1;
  width: 0;
  height: 1px;
  background: black;
  transition: width 0.3s;
  border-radius: 20px;
}

.contacte_itself:hover::after {
  width: 95.5%;
}

.contacte_txt {
	color: rgb(77, 77, 77);
	font-weight: bold;
	margin-bottom: 80px;
}

.active {
	background-color: rgb(235, 235, 235);
	border-radius: 50px;
	border-color: rgb(235, 235, 235);
	color: black;
}

.mailstyle{
	color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
